<div class="calculation-container" *transloco="let translate">
  <mat-label
    >{{ translate(calculationParams.figure.name.toUpperCase()) }} -
    {{ translate(calculationParams.calculation.toUpperCase()) }}</mat-label
  >
  <app-parameter-fields
    [figure]="calculationParams.figure"
    (parameterChange)="changeParams($event)"
  ></app-parameter-fields>
  <app-result [calculationResult]="calculationResult"></app-result>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      data-testid="goback-button"
      (click)="emitBack()"
    >
      {{ translate("BACK") }}
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="calculate(calculationParams)"
    >
      {{ translate("CALCULATE") }}
    </button>
  </div>
</div>
