<div class="calculation-container">
  <mat-label
    >{{ calculationParams.figure.name }}
    {{ calculationParams.calculation }}</mat-label
  >
  <app-parameter-fields
    [figure]="calculationParams.figure"
    (parameterChange)="changeParams($event)"
  ></app-parameter-fields>
  <app-output [output]="output"></app-output>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      data-testid="goback-button"
      (click)="emitBack()"
    >
      Back
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="calculate(calculationParams)"
    >
      Calculate
    </button>
  </div>
</div>
