<ng-container *transloco="let translate">
  <h2 class="title" *ngIf="history.length > 0; else noHistory">
    {{ translate("RECENT_CALCULATIONS") }}
  </h2>
  <ng-template #noHistory>
    <h2 class="title">{{ translate("NO_RECENT_CALCULATIONS") }}</h2>
  </ng-template>
  <mat-card *ngFor="let entry of history">
    <mat-card-title>
      <span class="date">{{ entry.date }}</span>
      <h2>
        {{
          translate(entry.figure.toUpperCase()) +
            " - " +
            translate(entry.calculation.toUpperCase())
        }}
      </h2>
    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let arg of entry.args | keyvalue">
        {{ arg.key }} = {{ arg.value }}
      </div>
      <strong>{{ translate("RESULT") }} = {{ entry.output }}</strong>
    </mat-card-content>
  </mat-card>
</ng-container>
