<mat-toolbar color="primary" *transloco="let translate">
  <mat-toolbar-row>
    <div>
      <button
        mat-raised-button
        routerLinkActive="mat-accent"
        [routerLink]="['/dashboard']"
      >
        {{ translate("DASHBOARD") }}
      </button>
      <button
        mat-raised-button
        routerLinkActive="mat-accent"
        [routerLink]="['/calculator']"
      >
        {{ translate("CALCULATOR") }}
      </button>
    </div>
    <div>
      <app-language-select></app-language-select>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
