<ng-container *transloco="let translate">
  <app-figure-select (figureChange)="changeFigure($event)"></app-figure-select>
  <app-calc-type
  *ngIf="possibleCalculations.length > 0"
  [calculations]="possibleCalculations"
  (calculationChange)="changeCalculation($event)"
  ></app-calc-type>
  <button
  style="float: right"
  data-testid="next"
  mat-raised-button
  color="primary"
  [disabled]="!(figure && calculation)"
  (click)="emitParams()"
  >
  {{translate("NEXT")}}
</button>
</ng-container>
